{
"project_id": "infra-888888",
"source_image_family": "ubuntu-1604-lts",
"tags": "puma-server",
"disk_size": "10",
"disk_type": "pd-standard",
"image_description": "ubuntu16LTS + ruby + mongodb",
"zone": "europe-west1-b"
}
